<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error ๐โบ</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <a href="/"><h1>ะ-ัะพะดะตะฝะฝะธะบ ๐ฐ</h1></a>
    
    <h1><%= message %></h1>
    <a href="javascript:history.back()">ะะพะฒะตัะฝััะธัั ะฝะฐ ะฟะพะฟะตัะตะดะฝั ััะพััะฝะบั ๐ช</a>

    <% if (typeof error !== 'undefined') { %>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    <% } %>
</body>

</html>